.header {
	grid-area: h;
	background-color: rgb(0, 138, 34);
}
img {
  width: 60px;
}

.loginBlock {
	float: right;
	padding: 15px 20px 0 0;
}
.loginBlock a {
	color: whitesmoke;
	text-decoration: none;
}