.nav {
	grid-area: n;
	background-color: burlywood;
	padding: 20px;
}

.item a {
	color: whitesmoke;
	text-decoration: none;
}

.item .activeLink {
	color: cornflowerblue;
}

.settings {
	margin: 25px 0 0 0;
}